@charset "utf-8";
/*font-family: 'Roboto', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Allura', cursive;
font-family: 'Alex Brush', cursive;
*/


@import url('https://fonts.googleapis.com/css?family=Alex+Brush|Allura|Nanum+Gothic:400,700|Roboto:300,400,500,700,900');
body{font-family: 'Roboto', sans-serif; font-size: 15px; text-align: center; font-weight: 400;}




