@charset "utf-8";
/*브라우저의 높이값을 100%로 인식시키는 방법*/
html, body{height: 100%;} /*1920*1080*/
body{text-align:center; }

.slide{height: 100%; overflow: hidden; }
.slide>.imgG{width: 400%; height: 850px; float: left;}
.slide>.imgG>li{/*각각의 메인 이미지*/
	background-size: cover;
	width:25%; height: 100%; position: relative;
	float: left;
}
/*각 각의 메인 이미지*/
.img1 {background:url(images/main4.jpg) no-repeat ;}
.img2 {background:url(images/main1.jpg) no-repeat ; }
.img3 {background:url(images/main2.jpg) no-repeat ; }
.img4 {background:url(images/main3.jpg) no-repeat ;}

/*
.btnG{width:112px ; height:16px; /*width:28px*4=112px position: absolute; bottom: 50px;left: 0; right: 0; margin:auto;}
.btnG>li{ 
	float: left;
	width: 20px; height: 20px;
	border-radius: 50%;
	background-color:rgba(255,255,235,.7) ;
	cursor: pointer;
	margin:0 4px;
	text-indent: -9999px;
}*/

ol{position: absolute; bottom: 140px; left: 0; right: 0; margin: auto; width: 80px; height: 6px;}


/*ol{position: absolute; bottom:50px ; left:/*850px 0 ;  width:120px ; height:16px; }*/
ol>li{float: left; border-radius: 50%; border:4px solid #fff; margin:0 3px;
 width: 6px; height: 6px; text-indent: -9999px; cursor: pointer; }
.on{border: 4px solid orange; }
.arr{position: absolute; bottom: 35px; left: 0; right: 0; margin: auto;}

ul.flex-direction-nav{ }
	li.btnL{background: url(images/nav-left.jpg) no-repeat; width: 50px; height: 50px;  position: absolute;top:400px; left: 0; }
	li.btnL a{text-indent: -999px;}
	li.btnR{background: url(images/nav-right.jpg) no-repeat; width:50px; height: 50px;  position: absolute; top:400px; right: 0;}	
	li.btnR a{text-indent: 999px;}
