@charset "utf-8";
/*
font-family:'Open Sans Condensed', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Pangolin', cursive;
font-family: 'Shadows Into Light', cursive;*/


@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pangolin|Shadows+Into+Light');

body{margin:0; 
	}

.bg{background:#3ec1c3; 
	width:1900px; height: 6500px;
	margin:0 auto;
	}



.green{
	margin:0;
	width: 693px; height:828px;}
